@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(../../../public/assets/background.jpg);
    background-size: cover;
    background-position: center;
}

.top-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}


.back-btn {
    color: white;
    text-decoration: none;
    padding: .5rem 1rem;
    transition: all .3s;
}

.back-btn:hover {
    background-color: #72c484;
    color: #fff;
    border-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
}

.back-btn:active {
    background-color: #60b373;
    color: #fff;
    border-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.wrapper {
    width: 420px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    border: 2px solid rgba(255, 255, 255, 0.2);
    color: #2f2828;
    border-radius: 12px;
    padding: 30px 40px;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: #4f4040;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: #493c3c;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .btn {
    width: 100%;
    height: 45px;
    background: #84d595;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(80px);
    cursor: pointer;
    font-size: 16px;
    color: #000000;
    font-weight: 600;
}

.wrapper .register-link {
    font-size: 18.5px;
    text-align: center;
    margin-top: 20px;
}

.register-link p a {
    color: #372d2d;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}